<div class="hero">
  <div class="hero-img"></div>
  <div class="hero-text">
    <p>Test Shop</p>
    <p>Where all your shoping needs are met.</p>
    <a href="/categories">Browse categories</a>
  </div>
</div>