<div class="sidebar">
  <h2>Menu</h2>
  <ul>
    <li><a href="/products/">All products</a></li>
    <li><a href="/categories/">All categories</a></li>
  </ul>
  <h3>Admin actions</h3>
  <ul>
    <li><a href="/products/add">Add product</a></li>
    <li><a href="/categories/add">Add category</a></li>
  </ul>
</div>