* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  
}

a {
  color: #00B7FF;
}

.product-form {
  display: flex;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 200px;
}

.hero {
  
}

.hero-img {
  width: 200px;
  height: 200px;
  background-color: purple;
}
