@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Yatra+One&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", Helvetica, Arial, sans-serif;
}

.product-form {
  display: flex;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  background-color: #d8ebeb;
  padding: 10px 50px;
  font-size: 1.2rem;
}

.header a {
  margin: 10px;
}

.hero {
  background-color: #d8ebeb;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  line-height: 2;
}

.hero-img {
  width: 300px;
  height: 200px;
  background-color: purple;
  margin-right: 100px;
}

.main {
  width: 80%;
  max-width: 1000px;
  padding: 50px;
}





a, a:active {
  color: black;
}

a:hover {
  color: purple;
}

a:active {
  color: orange;
}

.add-button {
  margin: 4px 0;
  cursor: pointer;
  padding: 8px;
  background-color: rgb(74, 74, 167);
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  border: none;
  text-align: center;
}

.add-button a {
  color: white;
  text-decoration: none;
}

.add-button:hover {
  background-color: rgb(55, 124, 91);
}

.add-button:active {
  background-color: rgb(124, 55, 93);
}

.product {
  margin: 4px;
  padding: 8px;
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-areas: "name name"
                       "left right";
  box-shadow: #9c92af 2px 2px 7px 0px;
}

.product .product-img {
  width: 190px;
  height: 200px;
  background-color: rgb(145, 145, 186);
  margin-right: 4px;
  margin-bottom: 4px;
}

.product h2 {
  grid-area: name;
}

.categories-list {
  display: flex;
}

.category {
  background-color: white;
  margin: 20px;
  max-width: 300px;
  display: block;
  box-shadow: #9c9b9b 2px 2px 6px 0px;
}

.category:hover {
  transform: scale(1.02);
}

.category-img {
  width: 200px;
  height: 200px;
  background-color: aquamarine;
}

.category p {
  padding: 8px;
  font-weight: bold;
  text-align: center;
}

.product-form {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.product-form label {
  display: flex;
  flex-direction: column;
}

.product-form input {
  margin: 4px;
  padding: 4px;
}

.product-form select {
  margin: 4px;
  padding: 4px;
}

.product-form textarea {
  margin: 4px;
  padding: 4px;
  height: 8rem;
}

h2 {
  margin-bottom: 6px;
}

.category-form {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.category-form input {
  margin: 4px;
  padding: 4px;
}


.products-list {
  display: flex;
}

.list-product {
  width: 200px;
  height: 380px;
  margin: 12px 18px;
  display: flex;
  flex-direction: column;
  padding: 12px;
  box-shadow: #9c92af 2px 2px 7px 0px;
}

.list-product:hover {
  transform: scale(1.02);
}


.list-product-img {
  width: 176px;
  height: 260px;
  object-fit: contain;
  margin: 0 auto;
  background-color: rgb(145, 145, 186);
}

.list-product .price {
  font-weight: bold;
}

.list-product .name {
  margin: 8px 0;
  font-weight: normal;
  width: 160px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  font-weight: bold;
}


.admin-actions {
  margin-top: 16px;
}
.admin-actions div {
  width: 200px;
}

.product .price {
  font-weight: bold;
}