@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Yatra+One&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", Helvetica, Arial, sans-serif;
}

.product-form {
  display: flex;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  background-color: #d8ebeb;
  padding: 10px 50px;
  font-size: 1.2rem;
}

.header a {
  margin: 10px;
}

.hero {
  background-color: #d8ebeb;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  line-height: 2;
}

.hero-img {
  width: 300px;
  height: 200px;
  background-color: purple;
  margin-right: 100px;
}

.main {
  width: 80%;
  max-width: 1000px;
  padding: 50px;
}

a, a:active {
  color: black;
}

a:hover {
  color: purple;
}

a:active {
  color: orange;
}


.products-list {
  display: flex;
}

.products-list .product-img {
  width: 100px;
  height: 100px;
  background-color: rgb(145, 145, 186);
}

.products-list .product {
  margin: 10px;
}

.add-button {
  margin: 4px 0;
  cursor: pointer;
  padding: 8px;
  background-color: rgb(74, 74, 167);
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  border: none;
}

.add-button:hover {
  background-color: rgb(55, 124, 91);
}

.add-button:active {
  background-color: rgb(124, 55, 93);
}

.product {
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-areas: "name name"
                       "left right";
}

.product .product-img {
  width: 100px;
  height: 200px;
  background-color: rgb(145, 145, 186);
}

.product h2 {
  grid-area: name;
}